%% -*- erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps_dir, ["deps"]}.
{deps, [{edown, ".*",
         {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", {tag, "v1.0"}}}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{port_specs, [{"priv/tempo.so", ["c_src/*.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -std=gnu99 -Wall -Wextra -Werror -pedantic"}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {preprocess, true},
             {top_level_readme,
              {"./README.md",
               "https://github.com/selectel/tempo"}}]}.
