%% -*- erlang -*-

{plugins, [pc]}.

{erl_opts, [debug_info, warnings_as_errors]}.

{port_specs, [{"priv/tempo.so", ["c_src/*.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -std=gnu99 -Wall -Wextra -Werror -pedantic"}]}.

{profiles, [{test, [{deps, [{proper, "1.4.0"}]}]}]}.

{provider_hooks,
 [{pre, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}.
